.tituloPuntuaciones {
    background: url("../../images/medalla.png") no-repeat left;
    padding: 10px 10px 10px 42px;
    margin-bottom: 8px;
    color: #f4fbff;
}

#puntuaciones {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#puntuaciones li {
    line-height: 1.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    float: left;
    display: inline;
    width: 50%;
    padding: 10px 0;
    color: #d6e7ff;
}

.negrita {
    font-weight: bold;
    color: #ffffff;
}
